.card_container {
    display: flex;
    place-items: center;

    border: 1px solid var(--color-outine);
    border-radius: 2rem;
    corner-shape: squircle;

    overflow: hidden;

    gap: 0.7rem !important;
}

/* button contents control */
.card_container div:last-child {
    display: grid;
    place-items: center;
    gap: 0.5rem;
}

.card_container div:nth-child(1):nth-last-child(1) {
    display: flex;
    place-items: center;
    gap: 0.7rem;
}

.image_container {
    display: flex;

    overflow: hidden;

    background-color: #988561;
    border-radius: 0.75rem 0.75rem 0 0;
}

.image_settings {
    width: 100%;
    height: 100%;

    object-fit: cover;

    background-color: white;

    transition: all 0.2s ease-in-out;
}

.image_settings:hover{
    overflow: hidden;
    scale: 1.07;
}