/* =========================
   Header CSS
========================= */

.header_settings{
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    border-bottom: 1px solid var(--color-outine);
}

.header_items_container{
    display: flex !important;
    margin: 0;
    gap: 1rem !important;
    place-items: center;
}

.navigation_header_buttons{
    display: flex;
    gap: 0.5rem;
    flex: 1;
    min-width: 0;
    width: auto;
}

.header_icons {
    color: var(--color-text);
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
}

.header_icons:hover{
    cursor: pointer;
    background-color: var(--color-outine);
    border-radius: 2rem;
}

.left_panel{
    display: flex !important;
    gap: 1.5rem !important;
    padding: 0.5rem 0.75rem;
    margin-right: auto;
    margin-left: 1rem;
    place-items: center;
    border-radius: 2rem;
    background-color: var(--color-section);
    min-width: 380px;
}

.syrian_logo{
    width: 112px;
    height: 112px;
    margin-right: 1rem;
    object-fit: contain;
}

.toggle_settings{
    display: none;
}

/* =========================
   Footer CSS
========================= */

.footer_settings{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 1.7rem;
    background-color: var(--color-section);
    border-top: 1px solid var(--color-outine);
}

.footer_settings h4, .footer_settings h5{
    color: var(--color-text);
}

@media screen and (max-width: 600px){
    .navigation_header_buttons{
        display: none;
    }
    .toggle_settings{
        display: none;
    }
}

@media screen and (max-width: 750px){
    .theme_icons{
        display: none;
    }
    .toggle_settings{
        display: none;
    }
}

@media screen and (max-width: 680px){
    .header_buttons{
        display: none;
    }
    .toggle_settings{
        display: revert;
    }
    .syrian_logo{
        margin-right: 0;
    }
}
