.layouts_container {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.settings {
    font-weight: bold;
}

.title_container {
    padding-top: 2rem;
    padding-bottom: 2.5rem;

    display: grid;
    place-items: center;
    justify-content: center;

    background-color: var(--color-section);
    border-bottom: 1px solid var(--color-outine);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.27rem 0.7rem;
}

.title_container > * {
    width: 72%;
}

.navLink {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}